<h1 class="text-center display-1">Preguntas Frecuentes</h1>
<img src="assets/preguntas.png" class="img-thumbnail" alt="...">

<h2 class="text-center">¿Que hago en caso de que no llegue un empleado a limpiar mi carro?</h2>
<p class="text-left">R/ Si un empleado no llega para realizar el servicio, puede contactarlo mediante su numero telefonico</p>

<h2 class="text-center">¿Como funciona el servicio?</h2>
<p class="text-left">R/ Una vez manda la solicitud, cualquier empleado podra aceptarla para realizar el servicio correspondiente a su solicitud.</p>

<h2 class="text-center">¿Como cancelo una solicitud?</h2>
<p class="text-left">R/ Para cancelar una solicitud, la misma no debe estar aceptada por un empleado.</p>

<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contactanos</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">En caso de una sugerencia, duda, consulta o queja puedes contactarnos mas a detalle rellenando el siguiente formulario</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Nombre Completo</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Correo</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Tema</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Mensaje</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" >Enviar</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="material-icons" >add_location</i>
                    <p>San Pedro Sula, Cortes</p>
                </li>

                <li><i class="material-icons" >phone</i>
                    <p>+504 9949-2012</p>
                </li>

                <li><i class="material-icons" >email</i>
                    <p>carcare@hotmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<div class="text-center">
    <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
    ><i class="material-icons" >facebook</i></a>

    <!-- Whatsapp -->
    <a class="btn btn-primary" style="background-color: #25d366;" href="#!" role="button"
    ><i class="material-icons" >whatsapp</i></a>
        </div>
<!--Section: Contact v.2-->