<div class="media">
    <img src="assets/CarCareLogo.jpg" width="400 px" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Car Care</h5>
     
      Car Care es una empresa que se caracteriza por su agilidad para realizar los servicios
    </div>
  </div>

  <div class="container card text-white text-center bg-primary mb-3 style=max-width: 20rem; ">
    <div class="row">
      <div class="col">
        <div class="card-header">Mision</div>
  <div class="card-body">
   
    <p class="card-text">Realizar servicios con la mejor calidad posible, contando con el personal adecaudo y las tecnologias de vanguardia para mejorar la experiencia
        de nuestros clientes.
    </p>
  </div>
      </div>
      <div class="col">
        <div class="card-header">Vision</div>
        <div class="card-body">
          <p class="card-text">Ser la empresa de lavado de carros a domicilio numero 1 del pais.</p>
        </div>
      </div>
    </div>
</div>


<div class="container card text-white text-center bg-success  mb-3 style=max-width: 20rem; ">
    <div class="row">
      <div class="col">
        <div class="card-header">Valores</div>
  <div class="card-body">
   
    <a href="#" class="list-group-item list-group-item-action active">Responsabilidad</a>
  <a href="#" class="list-group-item list-group-item-action">Honestidad</a>
  <a href="#" class="list-group-item list-group-item-action disabled">Compromiso</a>

  </div>
      </div>
      <div class="col">
        <div class="card-header">Buenas Practicas</div>
        <div class="card-body">
            <a href="#" class="list-group-item list-group-item-action active">Innovacion</a>
            <a href="#" class="list-group-item list-group-item-action">Agilidad</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Eficiencia</a>
          
        </div>
      </div>
    </div>
</div>