<h1 class="text-center">
    Registro Empleado
</h1>
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                Registrate
            </div>
            <div class="card-body">
                <form (submit)="signUp()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.nombre" name="nombre" class="form-control" placeholder="Nombre" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.telefono" name="telefono" class="form-control" placeholder="Telefono" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.direccion" name="direccion" class="form-control" placeholder="Direccion" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.correo" name="correo" class="form-control" placeholder="Correo" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.contrasena" name="contrasena" class="form-control" placeholder="Contrasena" required>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Registrarse
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>