<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Menu Administrativo
    </button>
    <div class="dropdown-menu dropdown-menu-center">
      <button class="dropdown-item" type="button" routerLink ="empleado">Mantenimiento de Empleados</button>
      <button class="dropdown-item" type="button" routerLink ="cliente">Mantenimiento de Clientes</button>
      <button class="dropdown-item" type="button" routerLink ="servicio">Mantenimiento de Servicios</button>
      <button class="dropdown-item" type="button" routerLink ="complemento">Mantenimiento de Complementos</button>
      <button class="dropdown-item" type="button" routerLink ="pedido">Mantenimiento de Pedidos</button>
    </div>
  </div>
   <router-outlet></router-outlet>